<h1>Text Reverse!</h1>
<p>The Sinatra app will display submitted text and reverse it!</p>
<form action="/display" method="post" accept-charset="utf-8">
Text:<input type="text" name="post[txt]" value="" id="txt" /><br />
<br />
<input type="submit" value=".. and reverse it!">
</form>
